<h1>
  <%= post.title %>
</h1>

<%= markdown post.body %>

<img src="<%= post.image %>" onerror="this.onerror=null;this.src='https://uploadcare-backup-test.s3.eu-west-2.amazonaws.com/e5a60119-28b5-402c-90e3-dad6c15e0f38/accountantevents__6.jpg';"/>
